

#songs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 5em 0 4em 0;
    font-family: 'Baloo Da 2', cursive;    
}

html {
    background: #253447;
    
}


h1 {
    text-align: center;
    font-family: 'Baloo Da 2', cursive;    color: orange;
    font-weight: 900;
    font-size: 4em;
    color: #23ce5c;
    margin-top: 0;
        
}

body{
    margin: 20px 150px 20px 150px;
    text-align: center;
}

p:last-of-type{
    color: orange;
}

label{
    font-family: 'Baloo Da 2', cursive;   
     color: orange;
    padding-right: 5px;
}


ul li {
    text-decoration: none ;
    list-style-type: none;
    display: inline;
    padding: 0 20px 0 0;
        
}



footer{
    
    margin: 10px auto 10px auto;    
    width: 100%;
    color: orange;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none ;
    list-style-type: none;
    

}
    
p {
    color: #23ce5c;
    margin: 0;
    padding: 0 0 10px 0;


}

a {
    text-decoration: none;
    color: inherit;
}

#copy {
    color: lightslategrey;
    
}